class Lucky < Formula
  desc "Task runner for Crystal"
  homepage "http://github.com/luckyframework/cli"
  url "<%= url %>"
  sha256 "<%= sha %>"
  version "<%= version %>"
  depends_on "crystal-lang"

  def install
    bin.install "lucky"
  end

  test do
    system "{bin}/lucky", "--help"
  end
end
